body{
    width: 100%;
    font-family: 'Lato';
}

/*First section*/

#info-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 500px;
    padding: 94px 216px 95px 165px;
    background: #ED4C5C;;
    box-sizing: border-box;
}

/*left side info*/

.info-left-side{
    width: 48%;
    
}

.info-heading{
    width: 445px;
    height: 107px;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;;
    margin-bottom: 24px;
}

.info-paragraph{
    width: 445px;
    height: 64px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    text-align: justify;
    margin-bottom: 44px;
}

.info-photo{
    width: 134px;
    height: 32px;
}


/*right side info*/

.info-right-photo{
    width: 50%;
    width: 533px;
    height: 311px;
}


/*Second section*/

#contact-section{
    display: flex;
    flex-direction: row;
    height: 545px;  
    background: #FFFFFF;
    padding: 117px 165px 78px 176px; 
}

/*left side block*/

.contact{
    width: 50%;
    
}

.contact-heading{
    width: 445px;
    height: 107px;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
}

.contact-paragraph{
    width: 434px;
    height: 64px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}

/*right side block*/

.input-section{
    width: 50%;
}

.input{
    height: 60px;
    border: 1px solid #333333;
    border-radius: 6px;
    text-indent: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
}
 

.input-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;
    }

.input-row input{
    width: 43%;
   
}

.last-name{
    margin-left: 30px;
}

.input-phone-number{
    width: 92%;
    margin-bottom: 24px;
}

.select-service{
    width: 93%;
}

select{
    color: rgba(19, 39, 67, 0.5);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

}
.submit-button{
    width: 160px;
    height: 50px;
    background: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    border-radius: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 27px;
    cursor: pointer;
}

/*Third section*/

#about-us-section{
    height: 435px;
    background: #FAFAFA;
    display: flex;
    flex-direction: row;
    padding: 85px 196px 86px 166px;
}

.heading{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #101010;
    margin-bottom: 33px;
}

.footer-links{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
}


.address-paragraph{
    width: 254px;
    height: 54px;
    font-weight: 400;
    font-size: 12px;
    color: #101010;
    margin-right: 30px;
}

.services-heading{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #101010;
    margin-bottom: 28px;
}

.services{
    margin-right: 30px;
    margin-bottom: 28px;
}

.links-container{
    width: 254px;
    height: 114px;
}

.get-in-touch-mail{
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #101010;
    text-decoration: none;
    margin-bottom: 11px;
}

.get-in-touch-phone{
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #121212;
    text-decoration: none;
    margin-bottom: 21px;
}

.facebook-icon{
    margin-right: 16px;
}

.linkedin-icon{
    margin-right: 13px;

}


.we-support{
    margin-left: 187px;
}

.copyright{
    position: absolute;
    margin-top: 228px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #101010;

}
